# intelliJ
.idea
*.iml
target
*.dz

# eclipse
.settings/
.project
.classpath
.factorypath

# data
tpch/*.csv
tpch/*.json
tpch/*.tbl
med-data/*.csv
med-data/*.json
cohort-query.json

# configuration
env.sh
conf

# spark
spark-exp/target
spark-exp/project
spark-exp/result
spark-exp/spark-warehouse
spark-exp/slaves-*

# others
target/
cube/
src/Test.java
dependency-reduced-pom.xml
plot/data/image
